name: Deploy Widgetbook
on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - optimus_widgetbook/**
      - optimus/**

jobs:
  deploy_storybook:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: ./.github/actions/setup

      - name: Build Web
        run: |
          melos exec --scope="optimus_widgetbook" -- "flutter build web"

      - name: Deploy to Firebase
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_WEB_DEPLOY }}"
          channelId: live
          projectId: mews-optimus
          entryPoint: optimus_widgetbook/
