name: Test
on:
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: ./.github/actions/setup

      - name: Test
        run: melos exec -c 1 --dir-exists="test" -- flutter test --no-pub
