name: Create Design Tokens PR
on:
  push:
    branches:
      - "design-tokens-**"
    paths:
      - "optimus/lib/src/theme/optimus_tokens.dart"

env:
  PR_TYPE: "feat"

jobs:
  pull-request:
    if: github.event.head_commit.author.name == 'mews-tech'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}

      - name: Set up Flutter
        uses: "./.github/actions/setup"

      - name: Generate tokens files
        run: melos gen_theme

      - name: Check if tailor file was changed
        id: tailor_changed
        run: git status --porcelain | grep -q 'tailor.dart'
        continue-on-error: true

      - name: Commit changes
        if: steps.tailor_changed.outcome == 'success'
        run: |
          git config --local user.email "tech.account@mewssystems.com"
          git config --local user.name "mews-tech"

          git add optimus/lib/src/theme/optimus_tokens.tailor.dart
          git commit -m "Update generated files"

          git push origin ${{ github.ref_name }}

      - name: Mark breaking release
        if: endsWith(github.ref_name, '.0.0')
        run: echo "PR_TYPE=feat!" >> $GITHUB_ENV

      - name: Create Pull Request
        run: |
          gh pr create \
            --base master \
            --head ${{ github.ref_name }} \
            --title '$PR_TYPE: Design Tokens Update' \
            --body 'Design Tokens were updated! This PR was created to update the code.'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
